.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav-list li a {
  padding: 10px 15px;
  text-decoration: none;
  background-color: #333;
  color: white;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: blue;
    color: white;
    }

.top-nav li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

h1 {
  font-family: roboto;
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1{
color: gold;
}

h2{
  color: blue;
}

ul{
  color: blueviolet;
}

p{
  color: black;
}